@import 'tailwindcss';

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/Helvetica-Neue-Font/HelveticaNeueRoman.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/Helvetica-Neue-Font/HelveticaNeueMedium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/Helvetica-Neue-Font/HelveticaNeueBold.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Georgian';
  src: url('/fonts/Helvetica.Georgian/helvetica-neue-lt-geo-55-roman.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+10A0-10FF;
}
@font-face {
  font-family: 'Helvetica Neue Georgian';
  src: url('/fonts/Helvetica.Georgian/Helvetica Neue LT GEO 65 Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+10A0-10FF;
}
@font-face {
  font-family: 'Helvetica Neue Georgian';
  src: url('/fonts/Helvetica.Georgian/Helvetica Neue LT GEO 75 Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+10A0-10FF;
}

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
